div{
    
    float: left;
    margin-left: 20px;
}
.firstp{
    border-style: solid;
    border: black;
}
h4{
    padding-right: 30px;
    text-align: right;
    border-style: solid;
    border: black;
    background-color: burlywood;
}